[Unit]
Description=Corvus Mind memory janitors (consolidate / staleness / decay)

OnFailure=corvus-job-alert@%n.service

[Service]
Type=oneshot
ExecStart=/usr/bin/curl -s --fail-with-body --max-time 600 -X POST http://localhost:8005/janitor/run
